<div class="inquiry-view">
	<div class="inquiry-result-header blue">
		<span>报价编号: {{item.inquiryItem.inquiryID}}</span>
		<span>费用详情</span>
		<span>报价有效期: {{item.inquiryItem.expires | dateFormatFilter}}</span>
	</div>
	<div class="table-panle">
		<table class="inquiry-table">
			<thead>
				<tr>
					<th class="left-td">费用项目</th>
					<th>单价（元）</th>
					<th>数量</th>
					<th>单位</th>
					<th>金额</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="todo in item.inquiryItem.pricesInfo">
					<td class="left-td">{{todo.cname}}</td>
					<td>{{todo.unitPrice}}</td>
					<td>{{todo.number}}</td>
					<td>{{todo.unit | unitFilter}}</td>
					<td>{{todo.price}}</td>
				</tr>
			</tbody>
		</table>
        <div class="place-order-table-footer">
		<div class="result-rule">＊如产生额外费用，实报实销</div>
		<div class="total-price">合计: <span>￥{{item.inquiryItem.totalPrice}}</span></div>
	</div>
</div>