<div class="order-info-view">
	<div class="order-info-filed">
		<div class="order-info-header">
			<span>报关信息</span>
			<span></span>
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>发票:</label>
			<input type="text" placeholder="请上传发票" v-model="item.invoice">
		</div>
		<div class="right-filed">
			<div class="upload-button-e">上传</div>
			<div class="upload-button-d">发票模板下载</div>
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>装箱单:</label>
			<input type="text" placeholder="请上传装箱单" v-model="item.packingBill">
		</div>
		<div class="right-filed">
			<div class="upload-button-e">上传</div>
			<div class="upload-button-d">发票模板下载</div>
		</div>
	</div>
	<!--v-if="formData.declare == 2"-->
	<div class="two-fileds" v-for="todo in item.baoGuanBill" v-show="formData.declare == 2">
		<div class="left-filed">
			<label>报关单:</label>
			<input type="text" placeholder="请上传报关单" v-model="todo.url" disabled>
			<i class="plus-big-icon baoguan-plus-icon" v-if="$index == 0" @click="addBaoGuan"></i>
			<i class="deleted-big-icon baoguan-plus-icon" v-else @click="removeBaoGuan($index)"></i>
		</div>
		<div class="right-filed">
			<div class="upload-button-e">上传</div>
			<div class="upload-button-d">发票模板下载</div>
		</div>
	</div>
	<div class="mark-view">
		<span>备注:</span>
		<ul class="mark-table-view">
			<li class="mark-table-cell">1. I have a pen.</li>
			<li class="mark-table-cell">2. I have an apple.</li>
			<li class="mark-table-cell">3. Umh.</li>
			<li class="mark-table-cell">4. The apple pen.</li>
			<li class="mark-table-cell">5. I have a pen.</li>
			<li class="mark-table-cell">6. I have pineapple.</li>
			<li class="mark-table-cell">7. Umh.</li>
			<li class="mark-table-cell">8. Pineapple pen.</li>
			<li class="mark-table-cell">9. The apple pen.</li>
			<li class="mark-table-cell">10. Pineapple pen.</li>
			<li class="mark-table-cell">11. Umh.</li>
			<li class="mark-table-cell">12. Pen pineapple apple pen.</li>
		</ul>
	</div>
</div>