<nav class="header-view">
    <div class="logo-photo"></div>
    <div class="header-item home">
        <a v-link="{path: '/'}">首页</a>
    </div>
    <div class="header-item">
        <a v-link="{path: '/'}">会员中心</a>
    </div>
    <div class="right-item">
        <a v-link="{path: '/'}">English</a>
    </div>
    <div class="right-item">
        <img class="heade-photo" src="../../../assets/image-square.png" />
        <span class="user-name">YYD1142</span>
        <i class="angle down icon"></i>
    </div>
</nav>
