<div class="order-info-view">
	<div class="order-upload-view">
		<img src="../../../assets/upload_photo.png">
		<div class="upload-button">上传产品图片</div>
	</div>
	<div class="order-info-filed">
		<div class="order-info-header">
			<span>产品信息</span>
			<span></span>
			<i class="plus-big-icon"></i>
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>产品名称:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>品牌:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>型号:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>原理:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>功率:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
	<div class="two-fileds">
		<div class="left-filed">
			<label>电池型号:</label>
			<input type="text" placeholder="Text">
		</div>
	</div>
</div>