<footer class="footer-view">
    <div class="footer-warp">
        <ul class="footer-table-view">
            <li class="footer-table-cell">关于我们</li>
            <li class="footer-table-cell">联系我们</li>
            <li class="footer-table-cell">常见问题</li>
            <li class="footer-table-cell">服务协议</li>
        </ul>
        <ul class="footer-table-view about-us">
            <li class="footer-table-cell">关于我们</li>
            <li class="footer-table-cell">客服电话:400-888-1234</li>
            <li class="footer-table-cell">企业邮箱:bt@fba.com</li>
            <li class="footer-table-cell">客服QQ:8000001</li>
            <li class="footer-table-cell">联系地址:深圳市福田区边条路</li>
        </ul>
        <ul class="footer-table-view">
            <li class="footer-table-cell">扫一扫关注微信</li>
            <li class="footer-table-wcode">
                <img src="../../../assets/image-square.png">
            </li>
        </ul>
    </div>
    <div class="footer-item">粤ICP备100001000号，深圳FBA高科技有限公司，版权所有2016</div>
</footer>